body
{
    margin: 0;
    min-height: 600px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.menu
{
    height: 20%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.menu a
{
    float: left;
    height: 100%;
    width: 25%;
    text-align: center;
    color: white;
    text-decoration: none;
}

.menu a:hover
{
    background-color: white;
    color: black;
}

.menu a.center 
{
    background-color: green;
    color: white;
}

.q
{
    height: auto;
    width: 90%;
    margin: 5%;
    color: black;
    text-align: center;
    
}

.footer
{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: green;
   color: white;
   text-align: center;
}

.list
{
    height: auto;
    width: 100%;
    text-align: center;
}

.button
{
    background-color: blueviolet;
    
}

.send
{
    text-align: center;
    background-color: red;
    position: center;
    position: fixed;
    left: 10;
    bottom: 50%;
    width: 100%;


}

.quantity
{
    size: 100px;
}
input[name="submit"] {
    background-color: #08682d;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    width: 100%;
  }
  button[name="add"] {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    width: 300%;
  }
  input[name="item_name[]"]{
    width: 100%;
  }
  input[name="item_quantity[]"]{
    width: 100%;
  }
 
  input[name="item_unit[]"]{
    width: 100%;
  }